body {
    background: rgb(169 220 239);
    display: grid;
    justify-items: center;
}
header {
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 19px;
    height: 6rem;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100vw;
}
h1 {
    color: #970d0d;
    font-size: 55px;
    font-weight: 400;
}
.dados {
    align-items: center;
    background: #20262a;
    border-radius: 25px;
    box-shadow:  -4px 2px 2px #0000004d;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    height: 200px;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 15rem;
}
.botoes__label {
    align-items: center;
    color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
.botoes__inpt{
    border-radius: 5px;
    border: none;
    display: flex;
    text-align: center;
    width: 140px;
}
#btn-enviar {
    font-size: 15px;
    margin: 2rem;
}
.resultado {
    background: #20262a;
    border-radius: 10px;
    box-shadow:  -4px 2px 2px #0000004d;
    color: #dfdfdf;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
    width: 290px;
}
.titulo_tab {
    color: #2f4687;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    margin-top: 4rem;
    text-align: center;
}
.img_tab {
    margin-top: 2rem;
    max-height: 40vh;
    max-width: 85vw;
}
footer {
    align-items: center;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: bold;
    margin-top: 8rem;
    width: 100%;
}





/* responsividade */

@media (min-width: 768px){
    .dados {
        width: 22rem;
    }
    .img_tab{
        max-height: 250px;
        max-width: 380px;
    }
    .resultado {
        width: 350px;
    }
}